---
import PostLayout from '@/layouts/PostLayout.astro';
import Profile from '@/components/Profile.astro';
---

<PostLayout title="語学">
    <nav slot="breadcrumbs" class="breadcrumbs">
        <a href="/">秋冬秋の記憶域</a>
        <a class="is-current">語学</a>
    </nav>
    <article class="main-content">
        <section>
            <div class="title-wrapper">
                <time class="update-date" datetime="2026-03-25">2026/03/25</time>
                <h1>語学</h1>
            </div>
            <p>秋冬秋が学んできた言語について、いろいろまとめています。</p>
            <p>私自身、ただの一語学徒です。できる限り正確なまとめ、解説を心がけていますが、もし間違いがあれば<a href="https://x.com/akifuyuaki496" target="_blank" rel="noopener noreferrer">Twitter (現X)<span class="material-symbols-outlined">open_in_new</span></a>のDMに連絡いただけると幸いです。</p>
        </section>
        <section>
            <h2><a href="/languages/sanskrit/">サンスクリット</a></h2>
            <h3><a href="/languages/sanskrit/grammar/"><s>文法解説</s></a></h3>
            <p>サンスクリットの文法について解説しています。</p>
            <h3><a href="/languages/sanskrit/reading/"><s>読解</s></a></h3>
            <p>実際に文章を読むやつ。</p>
        </section>
        <section>

        </section>
    </article>
    <aside slot="sidebar" class="sidebar">
        <Profile></Profile>
    </aside>
</PostLayout>