---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="語学">
    <main class="page">
        <div class="container">
            <article class="main-content box">
                <section>
                    <h1>語学</h1>
                    <p>秋冬秋が学んできた言語について、いろいろ解説しています。</p>
                    <p>先にセーフティネット張っておくと、私自身は全然各言語の専門家とかじゃないのでご了承を。</p>
                </section>
                <section>
                    <h2><a href="/languages/sanskrit/">サンスクリット</a></h2>
                    <p>
                        サンスクリット語に関する解説です。
                    </p>
                    <h3><a href="/languages/sanskrit/letters-and-pronunciation">文字と発音</a></h3>
                    <p>サンスクリットの文字と発音について解説しています。</p>
                </section>
            </article>
            <aside class="sidebar box">
                <h2><a href="#">サンスクリット</a></h2>
            </aside>
        </div>
    </main>
</BaseLayout>