---
import PostLayout from '@/layouts/PostLayout.astro';
---

<PostLayout title="サンスクリット | 語学">
    <article class="main-content box">
        <section>
            <h1>サンスクリットの解説</h1>
            <p>サンスクリットについて解説したページの一覧です。</p>
        </section>
        <section>
            <h2><a href="/languages/sanskrit/letters-and-pronunciation">文字と発音</a></h2>
            <p>サンスクリットの文字と発音について解説したページです。</p>
        </section>
        <section>
            <h2><a href="/languages/sanskrit/sandhi">連声（サンディ）</a></h2>
            <p>サンスクリットの連声（サンディ）について解説したページです。</p>
        </section>
    </article>
    <aside slot="sidebar" class="sidebar box">

    </aside>
</PostLayout>