---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="ホーム">
    <main class="home">
        <div class="home-links">
            <section class="home-category">
                <h2><a href="/languages/">語学</a></h2>
                <nav>
                    <a href="/languages/sanskrit/">サンスクリット</a>
                    <a href="/languages/classical-japanese"><s>日本語（古文）</s></a>
                    <a href="/languages/pie-la-el-sa"><s>印欧祖語と古典3言語を同時に学ぼう</s></a>
                    <a href="/languages/" class="cta-link">すべて見る</a>
                </nav>
            </section>
            <section class="home-category">
                <h2><a href="#">いろんな文字</a></h2>
                <nav>
                    <a href="#">デーヴァナーガリー</a>
                    <a href="#">悉曇文字</a>
                </nav>
            </section>
            <section class="home-category">
                <h2><a href="/music/">音楽</a></h2>
                <nav>
                    <a href="/music/vocal-range/">音域調査</a>
                    <a href="#">いろんな発声一覧</a>
                </nav>
            </section>
            <section class="home-category">
                <h2><a href="/apps/">アプリ・ツール</a></h2>
                <nav>
                    <a href="#">悉曇文字入力ツール</a>
                    <a href="#">Flawg</a>
                    <a href="#">Fluid Cat</a>
                </nav>
            </section>
            <section class="home-category">
                <h2><a href="#">プログラミング</a></h2>
                <nav>
                    <a href="#">Rust</a>
                    <a href="#">JavaScript</a>
                </nav>
            </section>
            <section class="home-category">
                <h2><a href="#">数学</a></h2>
                <nav>
                    <a href="#">中学数学を高校数学で殴ろう！</a>
                </nav>
            </section>
            <section class="home-category">
                <h2><a href="#">ゲーム攻略記</a></h2>
                <nav>
                    <a href="#">崩壊：スターレイル</a>
                    <a href="#">原神</a>
                    <a href="#">広告で見る謎のスマホゲーム</a>
                </nav>
            </section>
            <section class="home-category">
                <h2><a href="#">フォント</a></h2>
                <nav>
                    <a href="#">フォントを作ろう！！！</a>
                    <a href="#">フォント選びについて</a>
                </nav>
            </section>
            <section class="home-category">
                <h2><a href="/misc/">雑記</a></h2>
                <nav>
                    <a href="#"><s>「おもんないやつは全員BANするSNS」</s></a>
                    <a href="#"><s>『一切文法を解説しない語学書』</s></a>
                    <a href="#"><s>【全136話】2年半夢日記を書き続けた話</s></a>
                    <a href="/misc/" class="cta-link">すべて見る</a>
                </nav>
            </section>
        </div>
        <div class="home-about">
            <section>
                <h2>このサイトについて</h2>
                <p>超多趣味人間秋冬秋がやってきたこと、作ったものの記録を残す場所です。なんかプロダクトを作ったらここで宣伝します。</p>
                <p>
                    「人間忘れ去られたときが本当の死」って言うでしょ？
                    私は俗人で、現世に執着ありまくりだから、無料でも（Cloudflareがどうにかならない限り）ずっと残し続けられるCloudflare Pagesにして、
                    この広いインターネットの片隅に私という人間の記録を残しておくことにしたのです。
                </p>
                <p>同じようなことを<a href="https://akifuyuaki.github.io/">GitHub Pagesのほう</a>でもやろうとしたけど動的ページ作りたかったのでCloudflareにしました。Cloudflareよ、永遠なれ。</p>
                <p>※現在このページのリンクは大体繋がってませんし作ってすらいません。やりたいことリストってことで。当面の間はこの<s>打ち消し線</s>をなくすことを目標に作っていきます。</p>
            </section>
        </div>
    </main>
</BaseLayout>