---
---

<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari&display=swap');

    .sanskrit {
        font-family: 'Noto Sans', 'Noto Serif Devanagari', sans-serif;
    }
</style>

<span class="sanskrit"><slot /></span>