---
const { title } = Astro.props;
---

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title} | šžőňćČšžőŃü«ŔĘśŠćÂňčč</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400&text=šžőňćČšžőŃü«ŔĘśŠćÂňčč&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    </head>
    <body>
        <header id="site-header">
            <p class="site-title"><a href="/">šžőňćČšžőŃü«ŔĘśŠćÂňčč</a></p>
        </header>
        <main>
            <slot />
        </main>
        <footer id="site-footer">
            <p>&copy; 2026 šžőňćČšžőŃü«ŔĘśŠćÂňčč. All Rights Reserved.</p>
        </footer>
    </body>
</html>