---
import BaseLayout from '@/layouts/BaseLayout.astro';
const { title } = Astro.props;
---

<BaseLayout title={title}>
    <main class="page">
        <div class="container">
            <slot name="breadcrumbs"/>
            <div class="article-container">
                <slot />
                <slot name="sidebar"/>
            </div>
        </div>
    </main>
</BaseLayout>